.rivi {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: max-content;
}
.kysymys {
    width: 75%;
    max-width: 800px;
    padding-left: 20px;
    font-family:Arial, Helvetica, sans-serif;
    /*animation: fade 320ms ease both;*/
}
h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}
.container {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 20px;
    /*box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);*/
    border: 5px solid #ccc;
    border-radius: 10px;
    width: 55%;
    max-width: 900px;
    min-width: 600px;
    min-height: 300px;
}
.ekarivi {
    display: flex;
}

.vaihtoehdot, .vaihtoehdot2 {
    display: flex;
}
.vaihtoehdot p {
    margin-left: 15px;
    margin-right: 15px;
    width: 45px;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#pisteteksti {
    margin-left: 20px;
    margin-right: 20px;
    width: 35px !important;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
/*input[type="radio"] {
    margin-left: 20px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}*/
label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-left: 20px;
  margin-right: 20px;
}

/* Hide the browser's default radio button */
label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid #bbb;
}

label:hover input ~ .checkmark {
  background-color: #ccc;
}
/*label input:checked ~ .checkmark {
    background-color: #999;
    border: 1px solid #777;
}*/

label input.oikeinInput:checked ~ .checkmark {
  background-color: #22ff22;
}
label input.vaarinInput:checked ~ .checkmark {
  background-color: #ff5555;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
label input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
label.checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
/*input[type="radio"]:checked {
    background-color: #43a047;
    border: 2px solid #43a047;
}*/
input[type="submit"], #edellinenbutton, #seuraavabutton {
    padding: 6px 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    border-radius: 0px;
}
.submitdiv {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#tulos {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#paatelmateksti {
    font-weight: normal;
}
#kysymysteksti {
  margin: 0;
  font-size: 18px;
  /*animation: fadeInUp 320ms ease both;*/
}
#extrateksti {
  font-size: 16px;
  font-weight: normal;
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade {
  animation: fade 400ms ease both;
}

.fade-enter {
  opacity: 0;
  transform: translateY(8px);
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(-8px);
  transition: opacity 300ms, transform 300ms;
}
